{
  "presets": ["next/babel"],
  "plugins": [
    [
      "import",
      {
        "libraryName": "@material-ui/core",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "mui-core"
    ],
    [
      "import",
      {
        "libraryName": "@material-ui/styles",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "mui-styles"
    ],
    [
      "import",
      {
        "libraryName": "@material-ui/core/colors",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "mui-core-colors"
    ],
    [
      "import",
      {
        "libraryName": "@material-ui/icons",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "mui-icons"
    ],
    [
      "import",
      {
        "libraryName": "@material-ui/lab",
        "libraryDirectory": "", // default: lib
        "camel2DashComponentName": false // default: true
      },
      "@material-ui/lab"
    ],
    [
      "import",
      {
        "libraryName": "lodash",
        "libraryDirectory": "",
        "camel2DashComponentName": false // default: true
      },
      "lodash"
    ]
  ]
}
